{% extends "layout.html" %}

{% block body %}
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Taskey - The Web's Tasking Tool</h1>
        <p class="lead">Let's get started. <a href = "{% url 'register' %}">Register</a> or <a href = "{% url 'login' %}">login</a> to continue.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="fw-light">Straightforward task management for the web</h2>
    <p>Put all your tasks in one basket with our DoS secured, TLS utilising, secure and convenient way to remember to do our tasks.</p>
  </div>
</section>
<style>
.masthead {
  height: 100vh;
  min-height: 500px;
  /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
  background-image: url('/media/images/pexels-ylanite-koppens-796602.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

.else {
    color:black;
}
</style>

{% endblock %}