{% extends "layout.html" %}

{% block body %}
    <h1 class="text-center">Completed Tasks</h1>
    <br>
    
    <div id="alltasks" style="width:75%;  margin:auto;">
    <table class="table table-borderless table-dark table-hover alltasks table-striped"><tbody>

    {% for task in tasks %}
        {% if task.status == "Normal" %}
        <tr class="username"><td>{{ task.status }}</td>
        {% elif task.status == "Urgent" %}
        <tr class="username"><td>{{ task.status }}</td>
        {% elif task.status == "Least" %}
        <tr class="username"><td>{{ task.status }}</td>
        {% else %}
        <tr class="username"><td>{{ task.status }}
        {% endif %}
    
            {% if task.datedue or task.due %}
            <span style="text-align:right; float:right;">Due
            {% if task.datedue %} 
            {{ task.datedue }}
            {% endif %}
            {% if task.due %}
            {{ task.due }}
            {% endif %}</span></td>
            {% endif %}</tr>


    <!--<tr><td style="text-align:right;"> <div id="content {{ task.id }}" data-id="{{ task.id }}"> &nbsp;&nbsp;&nbsp; 
      {% if likestat == False %}
      <span style="text-decoration:underline; color: blue;" id="like - {{ task.id }}" onclick="like(this.id)">Like</span>
      {% endif %}
      {% if likestat == True %}
      <span style="text-decoration:underline; color: blue;" id="unlike - {{ task.id }}" onclick="unlike(this.id)">Unlike</span>
      {% endif %}-->
    <!--</td></tr>-->
    
    <tr class="content table-light" style="height:100px; vertical-align:middle; text-align:justify;">
    <div id="editbody{{ task.id }}">
    <td id="j{{ task.id }}" class="table-light;"> {{ task.data }}<br><br>
    {% if task.image %}
    <div><img style="width:500px;" src="media/{{ task.image }}" class="center"></div>
    {% endif %}
      <br><br>
    <div><button onclick="edit(this.id)" id = "edit{{ task.id }}">Edit</button>
    <button onclick="unmark(this.id)" id = "unmark{{ task.id }}" style="float:right;">Mark as Incomplete</button></div>
    </tr></div>
    {% endfor %}

  </div>
</tbody>
</table>
    
            
    <div>
        <ul class="pagination">
        {% if tasks.number != 1 %}
          <li class="page-item"><a class="page-link" href="?page={{ tasks.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if tasks.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
      </div>
      
    
    
    <script>
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
      return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
        /*function like(id) {
          id = id.slice(7);
          fetch(`/like/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`content ${id}`).innerHTML = text;
          // ... do something else with emails ...
          });
        }

        function unlike(id) {
          id = id.slice(9);
          fetch(`/unlike/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`content ${id}`).innerHTML = text;
          // ... do something else with emails ...
          });
        }*/

        function edit(id) {
          id = id.slice(4);
          var td = document.getElementById(`j${id}`)
          td.innerHTML = "";
          var input = document.createElement("textarea")
          input.setAttribute("id",`edittext${id}`)
          input.setAttribute("style","width: 100%;")
          var button = document.createElement("button")
          button.setAttribute("style","width: 100px; height: 50px;")
          button.addEventListener("click", () => {
            newdata = document.getElementById(`edittext${id}`).value;
            console.log(newdata)
            fetch(`/edit/${id}`, {
              method:'PUT',
              headers: {
                "X-CSRFToken" : getCookie('csrftoken') //wow
              },
              body: JSON.stringify({
                newdata: newdata
              })
          })
          fetch(`/edit/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`j${id}`).innerHTML = text;
          // ... do something else with emails ...
          })

        })
          td.appendChild(input)
          td.appendChild(button)
          button.innerHTML = "Submit Edit";

        }

        function unmark(id) {
          id = id.slice(6);
            fetch(`/unmark/${id}`, {
              method:'PUT',
              headers: {
                "X-CSRFToken" : getCookie('csrftoken') //wow
              },
              body: JSON.stringify({
                complete: false
            })
            })
          // ... do something else with emails ...
          
          location.reload()
          //console.log("ran")
          //console.log(id)
          }



    </script>

<style>
  
  body,html {
    height: 100%;
  }
body {
    background-image: url('/media/images/pexels-karolina-grabowska-4207791.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
  }

  .center {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}

.auth {
  color:black;
}

.content{
  opacity: 1;
  color:black;
}
</style>

{% endblock %}