{% extends "layout.html" %}

{% block body %}
    <h1 class="text-center">Active Tasks</h1>
    <br>
    
    <div id="alltasks" style="width:75%;  margin:auto;">
    <table class="table table-borderless table-striped table-hover alltasks"><tbody>

    {% for task in tasks %}
        {% if task.status == "Normal" %}
        <tr class="username bg-info"><td style="color:#ffffff"><b>{{ task.status }}</b> <span style="float:right;" ><button id = "{{ task.id }}" onclick="remind()">Remind me</button></span> </td>
        {% elif task.status == "Urgent" %}
        <tr class="username bg-danger"><td style="color:#ffffff"><b>{{ task.status }}</b> <span style="float:right;" ><button id = "{{ task.id }}" onclick="remind()">Remind me</button></span> </td>
        {% elif task.status == "Least" %}
        <tr class="username bg-success"><td style="color:#ffffff"><b>{{ task.status }} Concern</b> <span style="float:right;" ><button id = "{{ task.id }}" onclick="remind()">Remind me</button></span></td>
        {% else %}
        <tr class="username bg-warning"><td style="color:#ffffff"><b>{{ task.status }} </b>
        {% endif %}
    
            {% if task.datedue or task.due %}
            <span style="float:right;" id="{{ task.id }}" class="timed">Due
            {% if task.datedue %} 
            {{ task.datedue }}
            {% endif %}
            {% if task.due %}
            {{ task.due }}
            {% endif %}</span></td>
            {% elif task.status == "Time" %}
            <button id = "{{ task.id }}" onclick="remind()" style = "float:right;">Remind me</button> 
            {% endif %}</tr>


    <!--<tr><td style="text-align:right;"> <div id="content {{ task.id }}" data-id="{{ task.id }}"> &nbsp;&nbsp;&nbsp; 
      {% if likestat == False %}
      <span style="text-decoration:underline; color: blue;" id="like - {{ task.id }}" onclick="like(this.id)">Like</span>
      {% endif %}
      {% if likestat == True %}
      <span style="text-decoration:underline; color: blue;" id="unlike - {{ task.id }}" onclick="unlike(this.id)">Unlike</span>
      {% endif %}-->
    <!--</td></tr>-->
    {% if task.status == "Normal" %}
    <tr class="content table-info" style="height:100px; vertical-align:middle; text-align:justify;">
      <div id="editbody{{ task.id }}">
      <td id="j{{ task.id }}"> {{ task.data }}<br><br>
    {% elif task.status == "Urgent" %}
    <tr class="content table-danger" style="height:100px; vertical-align:middle; text-align:justify;">
      <div id="editbody{{ task.id }}">
      <td id="j{{ task.id }}"> {{ task.data }}<br><br>
    {% elif task.status == "Least" %}
    <tr class="content table-success" style="height:100px; vertical-align:middle; text-align:justify;">
      <div id="editbody{{ task.id }}">
      <td id="j{{ task.id }}"> {{ task.data }}<br><br>
    {% else %}
    <tr class="content table-warning" style="height:100px; vertical-align:middle; text-align:justify;">
      <div id="editbody{{ task.id }}">
      <td id="j{{ task.id }}"> {{ task.data }}<br><br>
    {% endif %}
    <!--<tr class="content" style="height:100px; vertical-align:middle; text-align:justify;">
      <div id="editbody{{ task.id }}">
      <td id="j{{ task.id }}"> {{ task.data }}<br><br>-->
    {% if task.image %}
    <div><img style="width:500px;" src="media/{{ task.image }}" class="center"></div>
    {% endif %}
      <br>
    <div><button onclick="edit(this.id)" id = "edit{{ task.id }}">Edit</button>
    
    <button onclick="mark(this.id)" id = "mark{{ task.id }}" style="float:right;">Mark as Complete</button> </tr><tr><td></td></tr></div>
    {% endfor %}
  </div>
</tbody>
</table>

    <div>
        <ul class="pagination">
        {% if tasks.number != 1 %}
          <li class="page-item"><a class="page-link" href="?page={{ tasks.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if tasks.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
      </div>
    
    
    <script>

        if (!!document.getElementsByClassName("timed")) {
          timed = document.getElementsByClassName("timed")
          console.log(timed)
          Array.from(timed).forEach(child => {
            child.onclick = function() {
              alert(`Made it ${event.srcElement.id}`)
              var ajax = new XMLHttpRequest();

              ajax.onreadystatechange = function() {
                if (ajax.readyState == 4 && ajax.status == 200) {
                  alert("Reminder sent successfully!")
                }
              }
              ajax.open("GET",`/remind/${event.srcElement.id}`,true)
              ajax.send()
            }
            

          })
        }
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
      return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
        /*function like(id) {
          id = id.slice(7);
          fetch(`/like/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`content ${id}`).innerHTML = text;
          // ... do something else with emails ...
          });
        }

        function unlike(id) {
          id = id.slice(9);
          fetch(`/unlike/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`content ${id}`).innerHTML = text;
          // ... do something else with emails ...
          });
        }*/

        function edit(id) {
          id = id.slice(4);
          var td = document.getElementById(`j${id}`)
          td.innerHTML = "";
          var input = document.createElement("textarea")
          input.setAttribute("id",`edittext${id}`)
          input.setAttribute("style","width: 100%;")
          var button = document.createElement("button")
          button.setAttribute("style","width: 100px; height: 50px;")
          button.addEventListener("click", () => {
            newdata = document.getElementById(`edittext${id}`).value;
            console.log(newdata)
            fetch(`/edit/${id}`, {
              method:'PUT',
              headers: {
                "X-CSRFToken" : getCookie('csrftoken') //wow
              },
              body: JSON.stringify({
                newdata: newdata
              })
          })
          fetch(`/edit/${id}`)
          .then(response => response.text())
          .then(text => {
          // Print emails
            console.log(text);
            document.getElementById(`j${id}`).innerHTML = text;
          // ... do something else with emails ...
          })

        })
          td.appendChild(input)
          td.appendChild(button)
          button.innerHTML = "Submit Edit";

        }

        function mark(id) {
          id = id.slice(4);
            fetch(`/mark/${id}`, {
              method:'PUT',
              headers: {
                "X-CSRFToken" : getCookie('csrftoken') //wow
              },
              body: JSON.stringify({
                complete: true
            })
            })
          // ... do something else with emails ...
          location.reload()
          //console.log("ran")
          //console.log(id)
          }


        /*function remind(id) {
          alert(`Ran ${id}`)
        }*/

        function remind(id) {
          var ajax = new XMLHttpRequest();

              ajax.onreadystatechange = function() {
                if (ajax.readyState == 4 && ajax.status == 200) {
                  alert("Reminder sent successfully!")
                }
              }
              ajax.open("GET",`/remind/${event.srcElement.id}`,true)
              ajax.send()
        }
    </script>

    <style>
      .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  body,html {
    height: 100%;
  }
  body {
    background-image: url('/media/images/pexels-jess-bailey-designs-750913.jpg');
    /*background: url(images/bg.jpg) no-repeat center center fixed;*/ 
    background-size: 100% 110%
  }

  .auth {
    color:black;
  }
    </style>

{% endblock %}